*.mp4
*.MOV
*.DS_Store
*.pyc
*pth
*.env
*.csv
*.pdf
*.mlpackage
# 埋め込まれたGitリポジトリを除外
mmpose_source/
openface/

/one_test/*
/data/
/csv/
/hdf5/
/relation_asl_sign/*
/movie_to_csv/*
/csv_to_hdf5/*
/ContinuousSignLanguage/CNN_BiLSTM/reports/figures/attention_test/*
/ContinuousSignLanguage/CNN_BiLSTM/analysis_graphs/*
!/relation_asl_sign/src
!/movie_to_csv/src
!/csv_to_hdf5/src
!/ContinuousSignLanguage/plots/*
